body {
	padding: 0;
	margin: 0;
}
.dark_mode {
	background-color: #1e1e1f;
	color: #F8F8F8;
}
.light_mode {
	background-color: #F8F8F8;
	color: #1e1e1f;
}
.top_text {
	font-size: 3em;
	font-family: "Roboto";
	font-weight: 800;
	text-align:center;
}
.top_subtext {
	font-size: 1.5em;
	font-family: "Roboto";
	font-weight: 700;
	text-align:center;
}
.section1 {
    position:relative;
    display:inline-block;
}
#head_parent {
	width:100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
	top:50%; /* element top side at 50% of container top side */
    left:50%; /* element left side at 50% of container left side */
    transform:translate(-50%,-50%);
}
.head_child {
	width: 10em;
	height: 15em;
	display:block;
	margin-left:2.4em;
	border-style: solid;
	border-color: #AAA5B6;
	border-width: 1px;
	border-radius: .5em;
}
.head_large_text {
	font-size:1em;
	font-family: "Roboto";
	font-weight: 800; 
	text-align:center;
}
.head_small_text{
	font-size:.9em;
	font-family: "Roboto";
	font-weight: 500; 
	text-align:center;
}
.head_button {
	text-align:center;
	background-color: #364a95;
	border: 1px solid #F8F8F8;
	width:8em;
	border-radius:10px;
	position:absolute;
	top:80%;
	margin-left:1em;
}
.button_link {
	color: #F8F8F8;
	font-size:1.2em;
	font-family: "Roboto";
	text-decoration: none;
	font-weight: 400; 
}
#tiles {
	height:300px;
	width: 100%;
	vertical-align:middle;
}
.section2 {
	display:flex;
	justify-content: center;
	flex-direction: row;
}
.section2_subsection {
	height:500px;
	width:45%;
	margin: 10px;
}
.section2_head {
	font-size: 2em;
	font-family: "Roboto";
	font-weight: 700;
	border-bottom-style: solid;
	border-color: #AAA5B6;
	border-width: 1px;
}
.section2_text {
	font-size: 1.5em;
	font-weight: 600px;
	font-family: "Roboto";
}
.section2_text::marker {
	color: #E47635;
}
.section2_link {
	color:#E47635;
	text-decoration: none;
	font-weight:900;
}
.section2_link:hover {
	color: #DC262E;
	text-decoration: none;
}
.section3 {
	display:flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
	margin:0;
	padding:0;
}
.section3_subsection {
	height:300px;

}
.section3_head {
	font-size: 2em;
	font-family: "Roboto";
	font-weight: 700;
	width:400px;
}
.section3_text {
	font-size: 1.25em;
	font-weight: 400;
	font-family: "Roboto";
	list-style-type:none;
	margin-left:-5%;
}
.section3_link {
	color:#E47635;
	text-decoration: none;
	font-weight:900;
}
.section3_link:hover {
	color: #DC262E;
	text-decoration: none;
}
.left {
	background-color: #DC262E;
}
.right {
	background-color: #DBDB52;
}
.bottom {
	width: 95%;
	height:50px;
	display:flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
	margin-left:1.70%;
}
.bottom_text {
	border-left-style: solid;
	border-color: #AAA5B6;
	border-width: 1px;
	font-size: 0.9em;
	font-family: "Roboto";
}
.bottom_image {
	height: 20px;
	width: 20px;
	margin-top: 45%;
	margin-left:5px;
	margin-right:5px;
}
